{% extends "template.twig" %}
{% block title %}{{ breadcrumbs['itens']['label'] }}{% endblock %}

{% block links %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ site_url }}plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ site_url }}plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form action="loja_meios_pag_edita.php?id={{ metodos_pagamento.id ?? '0' }}" method="POST" enctype="multipart/form-data">
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="inputNome" class="col-sm-2 col-form-label">Nome</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="nome" value="{{ metodos_pagamento.nome ?? '' }}">
                                <input type="hidden" name="id" value="{{ metodos_pagamento.id ?? '0' }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputModulo" class="col-sm-2 col-form-label">Modulo</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="modulo" value="{{ metodos_pagamento.modulo ?? '' }}">
                                <input type="hidden" name="id" value="{{ metodos_pagamento.id ?? '0' }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputLogotipo" class="col-sm-2 col-form-label">Logotipo</label>
                            <div class="col-sm-3">
                                <input type="file" class="form-control" name="logotipo">
                                {% if metodos_pagamento.logotipo is defined and metodos_pagamento.logotipo is not empty %}
                                    <br>
                                    <p>Imagem Atual:</p>
                                    <img src="../../../www/public/assets/imagens/pagamentos/{{ metodos_pagamento.logotipo }}" alt="Logotipo" style="max-width: 100px;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ site_url }}plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ site_url }}plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{{ site_url }}plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="{{ site_url }}plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{{ site_url }}assets/js/loja/loja_meios_pag.js"></script>
 
{% endblock %}
