{% extends "template.twig" %}
{% block title %}{{ breadcrumbs['itens']['label'] }}{% endblock %}

{% block links %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ site_url }}plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ site_url }}plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="row">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
        {% if success != "" %}
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" style="float: right;">
                    &times;
                </a>
                Registado com sucesso
            </div>
        {% endif %}
        {% if error != "" %}
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" style="float: right;">
                    &times;
                </a>
                Registado Apagado com Sucesso
            </div>
        {% endif %}
        <div class="row">
        <div class="col-md-3 pb-3">
            <a href="loja_meios_pag_edita.php?id=0">
            <button class="btn btn-info"><i class="fas fa-plus"></i> INSERIR METODO PAGAMENTO</button>
            </a>
        </div>
        </div>
        <table id="metodos_pagamento" class="table table-bordered table-striped">
        <thead>
            <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Logotipo</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td></td>
            <td></td>
            <td></td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block scripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ site_url }}plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ site_url }}plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{{ site_url }}plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="{{ site_url }}plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{{ site_url }}assets/js/loja/loja_meios_pag.js"></script>
 
{% endblock %}
